@keyframes movimientodeparrafo {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to{margin-left: 0%;
        width: 100%;
            }


        
        }
        :root{
            --main-color:aqua;
            --text-color:rgb(241, 241, 241);
            --text-color-hover:blue;
            --text-color-parrafo:grey;
            --text-color-parrafo-titulo:red;
            --text: white;
        }

       
            .cuerpo{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
             
                align-self: center;
                align-items: flex-start;
            }
            h2{
                color: rgb(233, 230, 230);
            }
            .cuerpo li{
                list-style:none;
                padding: 20px 10px;
                display: flex;
                font-size: larger;  
            }
           
       body {
        background:linear-gradient(90deg,rgb(65, 63, 63),rgb(14, 14, 14));
            }
          
            .contenedorimg{
                position: relative;
                height: 10%;
                position:static;
                display: flex;
                text-align: left;
                justify-content: center;
                
              }
              .parrafo2{
             
                width: 700px;
                margin: -344px 10px 101px 900px;  
                font-size: 1.6rem;
                color:var(--text);
            }
            .img06{
                margin: -62px 0px 10px 1120px;
            }
            
             
               
                .parrafo1 {
                    width: 700px;
                    margin: -700px 1px 101px 588px;  
                    color:var(--text-color);
                    font-size: 1.6rem;
                }
                #neubar {
                  background: #868585fd;
                  box-shadow: 4px 6px 12px rgba(0,0,0,0.4)
                }
         
          .container-fluid header nav ul li a{
            color: rgb(255, 253, 250) !important;
        }
        #main__menu{
          background:linear-gradient(90deg,rgb(65, 63, 63),rgb(14, 14, 14));
          color: rgb(244, 238, 238);
          top: 0%;
          left: 0%;   
          
      
      }
      .main__menu {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: space-between;
          align-self: center;
          align-items: flex-start;
        
          
          
          }
      
      
      .menu1 ul {
        
          list-style:none;
          padding: 20px 10px;
          display: flex;
          font-size: larger;
         
        
     
         
       }
       .menu1 ul li {
           margin-right: 150px; 
           border: rgb(168, 164, 164) 2px outset;
           
        
       }
    
        .menu1__img{
          position: absolute;
          top: 0;
          left: 0;
          margin: 0;
      }
      .parrafo3{
             
        width: 700px;
        font-size: 1.6rem;
        color:var(--text);
    }
    .contactanos li{
        list-style:none;
        border: 2px;
    }
  .footer{
    bottom: 0;
    height: 200px;
    background-color: black;
  }
  